<%= form_with model: @offer, local: true do |form| %>
  <% if @offer.errors.any? %>
    <div id="alert alert-danger" role="alert">
      <h2>
        <%= pluralize(@offer.errors.count, "error") %> prohibited this article from being saved:
      </h2>
      <ul>
        <% @offer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :advertiser_name %><br>
    <%= form.text_field :advertiser_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :url %><br>
    <%= form.text_field :url, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %><br>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :starts_at %><br>
    <%= form.input :starts_at, as: :date_time_picker %>
  </div>

  <div class="form-group">
    <%= form.label :ends_at %><br>
    <%= form.datetime_select :ends_at, { prompt: true, order: [:day, :month, :year] } %>
  </div>

  <div class="form-check">
    <%= form.check_box :premium, class: "form-check-input" %>
    <%= form.label :premium, class: "form-check-label" %>
  </div>

  <div class="form-group">
    <%= form.submit %>
  </div>

<% end %>